@mixin nav_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@mixin con_layout {
  max-width: 1000px;
  margin: 0 auto; 
  padding: 0 1rem;
}